
/*
do not change below code 
*/
*{
    font-family: 'Poppins', sans-serif;

}
img{
    max-width: 100%;
}
/*
Please do not use genaral tag or selector.
do not use class in bootstrap -
please all class in css start with your name! example: .oktay-img{...} 
*/

/******************************************/
/* Oktay Start Here For Costom CSS Code*/

.oktay-justify{
    justify-content: space-around;
}

.oktay-text-wexim{
    font-size: xx-large;
    color: white;
    margin-left: 1rem;
    margin-right: 1rem;
}

.oktay-text-wexim:hover{
    color: white;
    text-decoration: none;
   
}

.oktay-nav-link:hover{
    color: white;
    border-bottom: solid rgb(22, 175, 202);
 


}

.oktay-nav-link{
    color: white;
    margin-left: 2rem;
    margin-right: 2rem;
    border-bottom: solid;
    border-color: #343a40;
}

.oktay-red-spot{
    color: rgb(22, 175, 202)
}

.mx-6{
    margin:0 auto;
    padding: 5% 20%;
}

.oktay-color{
    color: rgb(22, 175, 202);
}

.oktay-play-icon{
    font-size: 10rem;
    padding-bottom: 0.2em;
}

.oktay-text-light-100{
    font-weight: 100;
}
.oktay-text-light-400{
    font-weight: 400;
}

.btn-outline-oktay {
    color: white;
    border-color:white;
  }
  
  .btn-outline-oktay:hover {
    color: #fff;
    background-color: rgb(22, 175, 202);
    border-color: rgb(22, 175, 202);
  }

  .oktay-font-p{
      font-size: large;
      line-height: 1.5em;
      font-weight: 300;
      letter-spacing: 0.1em;
  }

.oktay-img{
    width: 100%;
    max-width: 100%;
    height: 100%;
}

.btn-outline-black {
    color: black;
    border-color:black;
    border-radius: 0;
  }
  
  .btn-outline-black:hover {
    color: white;
    background-color: black;
    border-color: black;
    border-radius: 0;
  }

  .progress-bar-oktay {
    transition: width 0.6s ease;
    background: linear-gradient(to right,#3264F5,#7202BB);
    border-radius: 1em;

}
.progress-oktay {
    display: -ms-flexbox;
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: #e9ecef;
    border-radius: 1em;
  }

/* Oktay Finish Here For Costom CSS Code*/
/******************************************/
/* Zeynep Start Here For Costom CSS Code*/


.z-container-m  {

    padding: 0 3rem;
}



/*///////*CREATIVE PORTFOLIO////////*/



.z-portfolio-img {
    border: 1.5rem solid #fff;
    margin-bottom: 3rem;

}


.portfolio-m {
    
    margin-top: 3rem;
}


.z-h3 {
    font-size: 3rem;
    margin: 1rem;
}

.z-span {
    color: #00BCD4;
    font-weight: 410;
}

.z-fluid {
    background-color: #F8F9FA;
    margin: 5rem 0;

}

.z-text-gradient {
    background-image: linear-gradient(to right,#3264F5,#7202BB);
}

.z-p-text {
    font-weight: 300;
    color: gray;
    font-size: 1rem;
}

.z-p-text p span {
    color:#00BCD4 ;
    font-size: 5rem;
    font-weight: 500;
}

a.z-text-gradient  {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    padding: 1rem 2rem;
   
}


@media only screen and (min-width:1190px){

    .zh3 {
        padding: 0 3rem;
        margin:1rem;
    } 

    .portfolio-m {  

        margin-top: -8rem;
       
    }  
    
    #z-bottomImg {

        margin-bottom: -5rem;
    }


    .z-headingContent {
        
        width: 591px;
        margin: 0 auto;


    }

    /*.easy-pricingH {

        margin: 0 20rem;


    }*/

    

   



}




@media only screen and (max-width:685px) {

    .z-portfolio-img {

        width: 100%;
        
    }

    .z-container-m {

        padding: 0 0.5rem;
    }


    .z-portfolio-img {

        border: 1rem solid #fff;
        margin-bottom: 3rem;
    
    }


    section .container-fluid {

        font-size: 10px;
    }

    


  









}





/*///////*EASY PRICING////////*/

.z-sec-2 {
    margin: 5rem 0 ;

}

#z-pricing-link1 {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    padding: 1rem 2rem;
    background-color:#00BCD4 ;
}


.z-span-1 {
    font-weight: 410;
}


.z-plans {
    background-color: #F8F9FA;
    border-radius: 2rem;
    text-align: center;
    padding: 3rem;
    margin: 0.5rem;
}


.z-span-2 {

   font-size: 5rem;
   font-weight: 500;
}


.z-plans ul li i.fas.fa-check {
    color: #63BE11;
}

.z-plans ul li i.fas.fa-times {
    color: #E04645;
}

.z-plans ul {

    list-style: none;
}



.z-plans-span1 {

    color: #00BCD4;
    font-weight: 300; 
    font-size: 4rem;
}


.z-plans-span1 > span:nth-child(1) {
    font-size: 2rem;
    padding-top: 1rem;

}


.z-plans-span2 {

    font-weight: 300; 
    font-size: 4rem;
    background-image: linear-gradient(to right,#3264F5,#7202BB);
    


}
   
 





/*///////*TESTIMONIAL////////*/

.testimonial-backg {
    position: relative;
    background-image: linear-gradient(to right, rgba(50, 100, 245, 0.8), rgba(114, 2, 187, 0.8));
    color: #fff;
    
    
    
   
    
   
}


.testimonial-backg::after{
    background-image: url("/img/bg-img1.jpg");
    content:"";
    background-size: cover;
    background-position: center; 
    position: absolute;
    background-repeat: no-repeat;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}



.testimonial-backg span{
    font-size: 3rem;

}






/* Zeynep Finish Here For Costom CSS Code*/
/******************************************/
/* Mohammed Start Here For Costom CSS Code*/
#team-members img{
    max-width: 100%;
    height: auto;
    width: 100%;
}
.pr-moh-6{
  padding-right: 2rem !important;
}
 #team-members p{
    margin: 0;
}
.container-moh {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  @media only screen and (min-width: 576px) {
    .container-moh {
      max-width: 540px;
      padding-right: 0px;
      padding-left: 0px;
    }
  }
  @media only screen and (max-width: 600px){
    #team-members div.swiper-slide p{
        font-size: 12px;
        margin: 0;
        line-height: 1.2;
    }
    #team-members div.swiper-slide h5{
        font-size: 1rem;
        margin: 0;

    }
    #team-members div.swiper-slide h3{
        font-size: 1rem;
        margin: 0;
        

    }

  }
  
  @media (min-width: 768px) {
    .container-moh {
      max-width: 720px;
      padding-right: 70px;
      padding-left: 70px;
    }
  }
  
  @media (min-width: 992px) {
    .container-moh {
      max-width: 960px;
      padding-right: 120px;
      padding-left: 120px;
    }
  }
  
  @media (min-width: 1200px) {
    .container-moh {
      max-width: 1040px;
      padding-right: 150px;
      padding-left: 150px;
    }
  }



.moh-bg{
    background: rgb(99,46,92);
    background: linear-gradient(270deg, rgba(99,46,92,1) 20%, rgba(0,151,255,1) 100%);
    font-weight: 500;
    color: black;
}
.moh-p{
    padding: 20% 0;
}
.moh2-bg{
    background: rgb(78,77,78);
    background: linear-gradient(130deg, rgba(78,77,78,1) 22%, rgba(36,44,48,1) 88%);
    color: #fff;
}
@media only screen and (max-width:760px){
    .moh-h1{
        font-size: 1.5em;
        font-weight: 600;
    }
}
/*///////slider//////////////////*/
.swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }/* Mohammed Finish Here For Costom CSS Code*/

/******************************************/
/* Mustafa Start Here For Costom CSS Code*/

	/*mobile-app-design section*/
.mobile-app-design .main-caption h1{
	background: -webkit-linear-gradient(left, rgba(110,104,205,1) 0%, rgba(60,60,209,1) 35%, rgba(0,212,255,1) 100%);
	background: -o-linear-gradient(left, rgba(110,104,205,1) 0%, rgba(60,60,209,1) 35%, rgba(0,212,255,1) 100%);
	background: linear-gradient(to right, rgba(110,104,205,1) 0%, rgba(60,60,209,1) 35%, rgba(0,212,255,1) 100%);
}
.mobile-app-design h4{
	padding: 10px 0;
}
.mobile-app-design .caption-box p{
	opacity: .7;
	font-size: 13px;
}




	/*Living Your Dreams section*/
.living-your-dreams .date-p{
	color: #00bcd4;
}
.btn-gradient{
	display: inline-block;
	color: #fff;
	padding: 10px 20px;
	text-decoration: none;
	background: -webkit-linear-gradient(left, rgba(110,104,205,1) 0%, rgba(60,60,209,1) 35%, rgba(0,212,255,1) 100%);
	background: -o-linear-gradient(left, rgba(110,104,205,1) 0%, rgba(60,60,209,1) 35%, rgba(0,212,255,1) 100%);
	background: linear-gradient(to right, rgba(110,104,205,1) 0%, rgba(60,60,209,1) 35%, rgba(0,212,255,1) 100%);
}
.btn-gradient:hover{
	text-decoration: none;
	color: #fff;
	background: -webkit-linear-gradient(left, rgba(0,212,255,1) 0%, rgba(60,60,209,1) 35%, rgba(110,104,205,1) 100%);
	background: -o-linear-gradient(left, rgba(0,212,255,1) 0%, rgba(60,60,209,1) 35%, rgba(110,104,205,1) 100%);
	background: linear-gradient(to right, rgba(0,212,255,1) 0%, rgba(60,60,209,1) 35%, rgba(110,104,205,1) 100%);
}



	/* addres-info section*/
.wexim-agency .addres-info{
	background: url(../img/address-image.jpg) center center no-repeat;
	position: relative;
	z-index: 1;
}
.overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: .8;
	background: linear-gradient(to right, #3264f5 2%,#7202bb 82%);
	z-index: 2;
}
.addres-info-caption{
	position: relative;
	z-index: 3;
	padding: 45px 0;	
}
.addres-info-caption p{
	font-weight: 300;
	color: #fff;
	margin: 0;
}
.addres-info-caption h1{
	font-size: 50px;
	color: #fff;
}
.addres-info-caption ul li a{
	display: inline-block;
	margin-right: 20px;
	color: #fff;
}
.addres-info-caption ul li a:hover{
	color: #333;
}
.input-width-forms{
	margin: 30px 0;
}
.input-width{
	border: none;
	padding-bottom: 20px;
	border-bottom: 1px solid #e2e2e2;
    width: 49%;
    outline: none;
}
.m-textarea{
	border: none;
	border-bottom: 1px solid #e2e2e2;
	outline: none;
}
	/* footer section*/
footer{
	margin: 100px 0;
}
footer ul.soical-media li a{
	color: #333;
	margin-left: 20px;
}
footer .footer-p{
	opacity: .8;
	font-size: 14px;
}
@media only screen and (max-width: 767px) {

	.mobile-app-design .caption-box{
		margin-bottom: 40px;
	}
}
/* Mustafa Finish Here For Costom CSS Code*/
