
/*
do not change below code 
*/
*{
    font-family: 'Poppins', sans-serif;

}

/*
Please do not use genaral tag or selector.
do not use class in bootstrap -
please all class in css start with your name! example: .oktay-img{...} 
*/

/******************************************/
/* Oktay Start Here For Costom CSS Code*/




/* Oktay Finish Here For Costom CSS Code*/
/******************************************/
/* Zeynep Start Here For Costom CSS Code*/


.z-container-m  {

    padding: 0 3rem;
}



/*///////*CREATIVE PORTFOLIO////////*/



.z-portfolio-img {
    border: 1.5rem solid #fff;
    margin-bottom: 3rem;

}


.portfolio-m {
    
    margin-top: 3rem;
}


.z-h3 {
    font-size: 3rem;
    margin: 1rem;
}

.z-span {
    color: #00BCD4;
    font-weight: 410;
}

.z-fluid {
    background-color: #F8F9FA;
    margin: 5rem 0;

}

.z-text-gradient {
    background-image: linear-gradient(to right,#3264F5,#7202BB);
}

.z-p-text {
    font-weight: 300;
    color: gray;
    font-size: 1rem;
}

.z-p-text p span {
    color:#00BCD4 ;
    font-size: 5rem;
    font-weight: 500;
}

a.z-text-gradient  {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    padding: 1rem 2rem;
   
}


@media only screen and (min-width:1190px){

    .zh3 {
        padding: 0 3rem;
        margin:1rem;
    } 

    .portfolio-m {  

        margin-top: -8rem;
       
    }  
    
    #z-bottomImg {

        margin-bottom: -5rem;
    }


    .z-headingContent {
        
        width: 591px;
        margin: 0 auto;


    }

    /*.easy-pricingH {

        margin: 0 20rem;


    }*/

    

   



}




@media only screen and (max-width:685px) {

    .z-portfolio-img {

        width: 100%;
        
    }

    .z-container-m {

        padding: 0 0.5rem;
    }


    .z-portfolio-img {

        border: 1rem solid #fff;
        margin-bottom: 3rem;
    
    }


    section .container-fluid {

        font-size: 10px;
    }

    


  









}





/*///////*EASY PRICING////////*/

.z-sec-2 {
    margin: 5rem 0 ;

}

#z-pricing-link1 {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    padding: 1rem 2rem;
    background-color:#00BCD4 ;
}


.z-span-1 {
    font-weight: 410;
}


.z-plans {
    background-color: #F8F9FA;
    border-radius: 2rem;
    text-align: center;
    padding: 3rem;
    margin: 0.5rem;
}


.z-span-2 {

   font-size: 5rem;
   font-weight: 500;
}


.z-plans ul li i.fas.fa-check {
    color: #63BE11;
}

.z-plans ul li i.fas.fa-times {
    color: #E04645;
}

.z-plans ul {

    list-style: none;
}



.z-plans-span1 {

    color: #00BCD4;
    font-weight: 300; 
    font-size: 4rem;
}


.z-plans-span1 > span:nth-child(1) {
    font-size: 2rem;
    padding-top: 1rem;

}


.z-plans-span2 {

    font-weight: 300; 
    font-size: 4rem;
    background-image: linear-gradient(to right,#3264F5,#7202BB);
    


}
   
 





/*///////*TESTIMONIAL////////*/

.testimonial-backg {
    position: relative;
    background-image: linear-gradient(to right, rgba(50, 100, 245, 0.8), rgba(114, 2, 187, 0.8));
    color: #fff;
    
    
    
   
    
   
}


.testimonial-backg::after{
    background-image: url("/img/bg-img1.jpg");
    content:"";
    background-size: cover;
    background-position: center; 
    position: absolute;
    background-repeat: no-repeat;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}



.testimonial-backg span{
    font-size: 3rem;

}






/* Zeynep Finish Here For Costom CSS Code*/
/******************************************/
/* Mohammed Start Here For Costom CSS Code*/




/* Mohammed Finish Here For Costom CSS Code*/

/******************************************/
/* Mustafa Start Here For Costom CSS Code*/




/* Mustafa Finish Here For Costom CSS Code*/
